@import url('https://fonts.google.com/specimen/Bitcount+Prop+Single?preview.script=Latn');

*{
margin: 0;
padding: 0;
}

:root{
--azul-claro: rgb(123, 147, 182);
--cinza-escuro: rgb(69, 69, 70);
--cinza-claro: rgb(131, 131, 130);
--branco: #f4f3eeff;
--titulo: "Montenegrin Gothic One", serif;
--texto: "Raleway", sans-serif;
}

body{
background: var(--cinza-claro);
font-family: var(--texto);
}
header{
background-color: var(--azul-claro);
display: flex;
justify-content: space-around;
color: var(--cinza-claro );
}
.Menu{
display: flex;
list-style: none;
gap: 40px;
margin: 40px;
color: var(--branco);
text-transform: uppercase;
font-size: 15px;
}

.menu a{
    text-decoration: none;
    color: var(--branco);
    font-weight: bold;
}

.menu a:hover{
    color: var(--azul-claro);
    transition: 1s;
}
.img-capa{
    width: 100px;
    height: 100px;
}

.conteudo{
    margin: 45px;
    border: 3px dotted var(--azul-claro)
    padding: 30px;
    text-align: center;
}

.conteudo-titulo{
    font-family: var(--titulo);
    font-size: 30px;
    padding-bottom: 20px;
    color: var(--branco);
}
.conteudo-texto{
    font-family: var(--texto);
    font-size: 14px;

}
 footer{
    background-color: var(--cinza-escuro);
    color: var(--branco);
    font-family: var(--titulo);
    font-size: 25px;
    padding: 20px;
    text-align: center;
 }




